* {
    margin: 0;
    padding: 0;
    
}
body {
    background-image: url(../images/walkingdeadbackground.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: sans-serif;
}
 /*------- Main content --------*/
.jumbotron{
    width: 85%;
    height: auto;
    padding: 50px;
    margin: 30px 100px 10px 100px;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 2em;
    color: rgb(241, 238, 238);
    opacity: 0.95;
}


/*------- Title and Rules -------*/
.title_rules{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(53, 53, 54);
    text-align: center;
}

/* Title */
#game-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 4vw;
    color:rgb(143, 65, 65);

}
/*Game Rules */ 
.rules_of_game {
    
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1% 7% 2.33% 7%;
}

/* Timer */
.timer{
    align-items: start;
    
}

/*------- Questions and Answers -------*/
.q_and_a {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-content: end;
}
/* Questions*/
.questions > h6 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}


/* Answers*/


    



