* {
    margin: 0;
    padding: 0;
    
}
body {
    background-image: url(../images/walkingdeadbackground.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: sans-serif;
}
 /*------- Main content --------*/
.jumbotron{
    max-width: 984px;
    width: 100%;
    height: auto;
    margin: 10px auto;
    background-color: gray;
   /* display: grid;
    grid-template-columns: 2fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 2em;
    color: rgb(241, 238, 238);
    opacity: 0.95;*/
}


/*------- Title and Rules -------*/
.title_rules{
    display: grid;
    grid-template-rows: repeat(3, auto);
    
}

/* Title */
#game-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 4vw;
    color:rgb(143, 65, 65);
}
/*Game Rules */ 
.rules_of_game {
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.btn {
    width: 20%;
    background-color:rgb(143, 65, 65);
    border-color: rgb(143, 65, 65);
}

/* Timer */
.timer{
    justify-content: center;
    color: black;
}

/*------- Questions and Answers -------*/
.q_and_a {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-content: end;
}
/* Questions*/
.questions > h6 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}


/* Answers*/
.choices{
color: rgb(20, 19, 19);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
padding-top: 5%;
display: grid;
grid-template-columns: repeat(2, 1fr);
}

div > p {
    color:rgb(143, 65, 65);
    text-align: center;
}

/*------- MEDIA QUERIES ------*/

@media (max-width: 984.1px){
    .jumbotron {
        max-width: 650px;
        width: 85%;
        /*display: grid;
        grid-template-rows: repeat(7, 25%);
        grid-template-columns: 99%;*/
    }
    .title_rules{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
    }
    
    /* Title */
    #game-title {
        grid-row: 1;
        font-family: 'Permanent Marker', cursive;
        font-size: 6vw;
  ;
    
    }
    /*Game Rules */ 
    .rules_of_game {
        grid-row: 2 /3;
        font-size: 2vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        /*padding: 1% 7% 2.33% 7%;*/
    }
    
    /* Timer */
    .timer{
        grid-row: 3;
        align-items: start;
        
    }

    /*Start and Done Button*/
    .btn {
        width: 20%;
        max-height: 33.33%;
    }
}

    



